@tailwind base;
@tailwind utilities;

html { font-size: 10px; }

h1{
  @apply
  text-2xl
  font-bold
}

h2{
  @apply
  text-xl
  font-medium
  leading-[32px]
}

h4{
  @apply
  text-xs
  text-grey-700
  font-medium
}

input[type="text"],input[type="password"]{
  @apply
  text-sm
  px-[16px]
  py-[12px]
  rounded-[8px]
  border-[1px]
  border-grey-500
}

button {
  @apply
  rounded-[8px]
  py-[12px]
  border-[2px]
  border-red-600
  text-base
  font-medium
  text-white
  bg-red-600
  hover:bg-white
  hover:text-red-600
}

button.secondary{
  @apply
  text-red-600
  bg-white
  hover:bg-red-600
  hover:text-white
}

.container{
  @apply
  flex
}


